@import "../../../styles/index";

.root {
    width: 35%;
    height: auto;
    margin: 20vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;

    @include tablet {
        width: 90%;
    }

    @include mobile {
        flex-flow: column;
        width: 90%;
    }
}